body{
    margin: 0;
    padding: 0;
    background-color: rgb(238, 235, 227);
}

.header{
    position: absolute; top: 0;
    width: 100%;
    background-color: royalblue;
    height: 60px;
    display: block;
}


.main{
    display: block;
    padding-top: 60px;
    background-color: floralwhite;
    width: 95%;
    margin: auto;
    padding-bottom: 40px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px gray;
}

.content {
    width: 96%;
    margin: auto;
    display: block;
    font-family: sans-serif;
}

.content p {
    margin-left: 20px;
}


.cardsblock{
    display: flex;
    flex-wrap: wrap;
    width: 96%;
    margin: auto;
}


.card-image{
    width: 100%;
}
.card-image img {
    width: 100%;
}

.card-txt h1{
    margin-left: 10px;
}




@media screen and (min-width:1000px) {

    .card{
    width: 30%;
    margin: 1%;
    background-color: rgb(248, 180, 91);
    display: block;
    border-radius: 5px;
    }



    .header-head{
    color: rgb(255, 255, 255);
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    display: block;
    }
}


@media screen and (min-width:600px) and (max-width:999px) {

    .card{
        width: 47%;
        margin: 1%;
        background-color: rgb(248, 180, 91);
        display: block;
        border-radius: 5px;
    }
    
    
    
        .header-head{
        color: rgb(255, 255, 255);
        margin-top: 10px;
        text-align: center;
        font-size: 30px;
        font-family: sans-serif;
        display: block;
    }
    
}


@media screen and (min-width:200px) and (max-width:599px) {
    .card{
        width: 97%;
        margin: 1%;
        background-color: rgb(248, 180, 91);
        display: block;
        border-radius: 5px;
    }
    
    
    
        .header-head{
        color: rgb(255, 255, 255);
        margin-top: 10px;
        text-align: center;
        font-size: 30px;
        font-family: sans-serif;
        display: block;
    }
}











/*FOOTER*/

.footer {
    text-align: center;
}
