{% extends "base.html" %}

{% block title %}Картинки{% endblock %}


{% block pageHead %}<h1 class="header-head">Галерея</h1>{% endblock %}

{% block sndstyles %}
<style>
    .linktoimage{
        text-decoration: none;
        color: black;
    }

    .schemeCont{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .pagee{
        width: 20px;
        margin: 5px;
        display: block;
    }

    .loadbutt{
        display: block;
        border-radius: 5px;
        background-color: blue;
        width: 150px;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
    }

    .loadbutt a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-family: sans-serif;
        
    }
</style>
{% endblock %}

{% block content %}
    <div class="schemeCont">
    {% for i in range(1, pagesCount+1) %}
        <div class="pagee"><a href="/{{i}}">{{i}}</a></div>
    {% endfor %}
    </div>

    <h3>Если будете загружать изображение, то загружайте горизонтальные фото</h3>

    <div class="loadbutt">
        <a href="/upload">Загрузка изображения</a>
    </div>

{% endblock %}

{% block cards %}
    {% for image in imagelist %}
        <div class="card">
            <div class="card-image">
                <img src="static/images/{{image}}">
            </div>
            <div class="card-txt">
                <p>
                    <a href="/img/{{image}}" class="linktoimage">
                        {{imagelist[image]}}
                    </a>
                </p>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block submain%}
    <div class="schemeCont">
    {% for i in range(1, pagesCount) %}
        <div class="pagee"><a href="/{{i}}">{{i}}</a></div>
    {% endfor %}
    </div>
{% endblock %}