{% extends "base.html" %}

{% block title %}Картинки{% endblock %}


{% block pageHead %}<h1 class="header-head">Галерея</h1>{% endblock %}

{% block sndstyles %}
<style>
    .linktoimage{
        text-decoration: none;
        color: black;
    }

    .schemeCont{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .pagee{
        width: 20px;
        margin: 5px;
        display: block;
    }

    .loadbutt{
        display: block;
        border-radius: 5px;
        background-color: blue;
        width: 150px;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
    }

    .loadbutt a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-family: sans-serif;
        
    }

    .watchbutt{
        display: block;
        border-radius: 5px;
        background-color: blue;
        width: 100px;
        height: 30px;
        margin-left: auto;
        margin-right: auto;
    }

    .watchbutt a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-family: sans-serif;
    }

    .popupBlock{
        width: 50%;
        background-color: black;
        display: none;
        height: 500px;
        position: fixed; top: auto; right: 25%;
    }
    .closePopup{
        color: red;
        display: block;
        width: 25px;
        margin-left: auto;
    }
</style>
{% endblock %}

{% block content %}

    <div class="popupBlock">
        <div class="closePopup">
            <img src="/static/cross-a40000.svg" onclick="closePopup();" width="100%">
        </div>
        <div class="imagecont">
            <img src="" class="popupimage">
        </div>
    </div>

    <div class="schemeCont">
    {% for i in range(1, pagesCount+1) %}
        <div class="pagee"><a href="/{{i}}">{{i}}</a></div>
    {% endfor %}
    </div>

    <h3>Если будете загружать изображение, то загружайте горизонтальные фото</h3>

    <h3>попап показ картинок на вертикальном экране смартфона может быть крайне неправильным</h3>

    <div class="loadbutt">
        <a href="/upload">Загрузка изображения</a>
    </div>

{% endblock %}

{% block cards %}
    {% for image in imagelist %}
        <div class="card">
            <div class="card-image">
                <img src="static/images/{{image}}" onclick="showPopup(this);" >
            </div>
            <div class="card-txt">
                <p>
                    <a href="/img/{{image}}" class="linktoimage">
                        {{imagelist[image]}}
                    </a>
                </p>
            </div>
            <div class="watchbutt">
                <a href="/img/{{image}}">Смотреть</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block submain%}
    <div class="schemeCont">
    {% for i in range(1, pagesCount) %}
        <div class="pagee"><a href="/{{i}}">{{i}}</a></div>
    {% endfor %}
    </div>
{% endblock %}